<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <h2>LOGIN</h2>
    <form id="dataForm" action="" method="">

        <div>
            <label for="input-email">Email:</label>
            <input id="input-email" name="transactionEmail" type="email" placeholder="Email...">
        </div>

        <div>
            <label for="input-password">Password:</label>
            <input id="input-password" name="transactionPassword" type="password" placeholder="Password...">
        </div>

        <button id="button-form" type="submit">Send</button>

        <p id="errors"></p>

        <a href="/users">Inicio</a>

        <script src="/js/login.js"></script>
</body>

</html>