<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <h2>Registarse</h2>
    <form id="dataForm" action="" method="">

        <div>
            <label for="input-name">Name:</label>
            <input id="input-name" name="transactionName" type="text" placeholder="Name...">
        </div>

        <div>
            <label for="input-surname">Surname:</label>
            <input id="input-surname" name="transactionSurname" type="text" placeholder="Surname...">
        </div>

        <div>
            <label for="input-email">Email:</label>
            <input id="input-email" name="transactionEmail" type="email" placeholder="Email...">
        </div>

        <div>
            <label for="input-age">Age:</label>
            <input id="input-age" name="transactionAge" type="text" placeholder="Age...">
        </div>

        <div>
            <label for="input-password">Password:</label>
            <input id="input-password" name="transactionPassword" type="password" placeholder="Password...">
        </div>

        <button id="button-form" type="submit">Send</button>

        <p id="errors"></p>

        <a href="/users">Inicio</a>
    </form>

    <script src="/js/register.js"></script>
</body>

</html>